@import "./variables.scss";

.popWrp{position: absolute; top: 50%; transform: translateY(-50%); left: 0;right: 0;margin: 0 auto; max-width: 700px; padding: 0; z-index: 10; @include box-shadow;
    .col_2{width:$col_2; 
        &:nth-child(odd){padding-right:$fifteen;}
        &:nth-child(even){padding-left:$fifteen;}
        div{display: flex; align-items: center;justify-content: start; flex-wrap: wrap;}
    }
    h3{padding: 25px;text-align: center; background-color: $steal_blue;}
    h4{padding: 15px 0;}
    .required{color:$red; padding-bottom: 15px; font-weight: 600;font-size: 16px;}    
}

form{
    padding: 25px; background-color: $gray_blue;
    label{display: block;width: 100%; padding-top: 15px;}
    input, select{padding: 10px; display: block;width: 100%;  @include border-styles($clear); @include trans(.25s);
        &[type='checkbox']{height:15px; width: 25px;}
        &:focus{outline: none;  @include border-styles($green); @include trans(.25s);}
    }
    
    .submit{background-color:$green; color: $white; padding: 10px; margin-top: 15px; @include border-styles($green); font-size: 16px; font-weight: 600; letter-spacing: 1px; @include trans(.25s);
        &:hover{cursor: pointer; background-color: transparent; color: $green; @include trans(.25s);}
    }
    .disabled{background-color: $gray; padding: 10px; margin-top: 15px;}
}
.errWrp{color:$red; font-size: 16px;}
.error{color:$red; font-weight:500; display: block; padding-top: 2px;}

.message{ padding: 25px;text-align: center; background-color: $white;}

